includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Call to an undefined method .*#'
          path: src/Concerns/HasArabicableMigrationBlueprintMacros.php
        - message: '#Match expression does not handle remaining value: string#'
          path: src/ArabicableServiceProvider.php
